@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/css/pages/admin.css" />
</head>
<body>
    <div>
    
    </div>
</body>
</html>
