@{
    ViewBag.Title = "About us";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container py-5">
        <h2>Giới thiệu về PetCare</h2>
        <p>Chào mừng bạn đến với hệ thống chăm sóc thú cưng PetCare...</p>
    </div>
</body>
</html>
